* {
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 14px;
}
QListView {
    background: transparent;
}
QWidget {
    background-color: @secondary;
    color: @primary;
    font-size: 14px;
}

QPushButton {
    color: @secondary;
    background-color: @primary;
    border: 2px solid @primary;
    border-radius: 2px;
    padding: 5px;
}
QPushButton:hover {
    color: @primary;
    background-color: @secondary;
}
QPushButton:focus {
    color: @accent;
    background-color: @secondary;
    border-color: @accent;
    outline: none; /* No outline */
    /* text-selection-color: transparent;
    text-selection-background-color: transparent;
    text-selection-border: none; */
}
QComboBox {
    background-color: @secondary;
    border: 1px solid @primary;
    padding: 4px;
    color: @primary;
}
QComboBox:disabled {
    border: 1px solid @disabled;
    border-radius: 1px;
    padding: 4px;
    color: @disabled;
}
QComboBox:focus {
    border: 1px solid @accent;
    color: @accent;
}
QComboBox::drop-down {
    border: none;
    background-color: transparent;
    width: 20px;
}
QComboBox::down-arrow {
    image: url("@res/icons/menu-down.@ext");
}
/* Dropdown List */
QComboBox QAbstractItemView {
    background-color: @secondary;
    border: 1px solid @primary;
    border-radius: 2px;
    padding: 5px;
}
QComboBox QAbstractItemView::item {
    padding: 5px;
}

QComboBox QAbstractItemView::item:hover {
    /* No clue where a margin is set on hover, but this negates it */
    margin-left: -5px;
    background: @primary;
    color: @secondary;
}
QComboBox QAbstractItemView::item:selected {
    /* No clue where a margin is set on hover, but this negates it */
    margin-left: -5px;
    background: @primary;
    color: @secondary;
}

QSplitter::handle {
    image: url("@res/icons/handle.svg");
    height: 6px;
}
QSplitter::handle:hover {
    image: url("@res/icons/handle_hover.svg");
}

QSpinBox {
    color: @primary;
    background: @secondary;
    height: 30px;
    border: 1px solid @primary;
    border-radius: 2px;
    selection-color: @accent;
    selection-background-color: @secondary;
    padding-right: 15px;
    padding-left: 15px;
}

QSpinBox::up-button {
    background: transparent;
    subcontrol-origin: border;
    subcontrol-position: right;
    height: 31px;
    border: 1px solid @primary;
    border-radius: 2px;
    width: 25px;
    padding: 0px;
}
QSpinBox::up-button:hover {
    background: @primary;
}

QSpinBox::up-arrow {
    image: url(@res/icons/plus.svg);
    width: 18px;
    height: 18px;
}

QSpinBox::up-arrow:hover {
    image: url(@res/icons/dark/plus.svg);
    width: 18px;
    height: 18px;
}

QSpinBox::up-arrow:disabled,
QSpinBox::up-arrow:off {
    image: url(@res/icons/disabled/plus.svg);
}

QSpinBox::down-button {
    background: transparent;
    subcontrol-origin: border;
    subcontrol-position: left;
    height: 31px;
    border: 1px solid @primary;
    border-radius: 2px;
    width: 25px;
}
QSpinBox::down-button:hover {
    background: @primary;
}

QSpinBox::down-arrow {
    image: url(@res/icons/minus.svg);
    width: 18px;
    height: 18px;
}

QSpinBox::down-arrow:hover {
    image: url(@res/icons/dark/minus.svg);
    width: 18px;
    height: 18px;
}

QSpinBox::down-arrow:disabled,
QSpinBox::down-arrow:off {
    image: url(@res/icons/disabled/minus.svg);
}

#seed {
    font-size: 17px;
    color: @secondary;
    background: @primary;
    padding: 0px;
    width: 30px;
    max-width: 30px;
    height: 29px;
}

#seed:hover {
    color: @primary;
    background: @secondary;
}

QLineEdit {
    color: @primary;
    background: @secondary;
    height: 24px;
    border: 2px solid @primary;
    border-radius: 2px;
    selection-color: @accent;
    selection-background-color: @secondary;
    padding-right: 15px;
    padding-left: 15px;
}
QLineEdit:focus {
    border: 2px solid @accent;
}

QTabWidget {
    background-color: @secondary;
    border: 1px solid @primary;
    min-width: 275px;
}

#toolbox {
    max-width: 54px;
    width: 54px;
}

#toolbox QHBoxLayout {
    max-width: 54px;
    width: 54px;
}

#toolbox QHBoxLayout {
    padding: 0px;
    margin: 0px;
}

#toolbox QPushButton {
    font-family: "Material Symbols Rounded Filled";
    font-size: 20px;
    width: 22px;
    height: 22px;
    color: @primary;
    background-color: @secondary;
    border: 2px solid @primary;
    border-radius: 2px;
    margin-top: 1px;
    margin-bottom: 5px;
}

#toolbox #last-button {
    margin-bottom: 0;
}

#toolbox QPushButton:hover {
    color: @secondary;
    background-color: @primary;
}

#toolbox QPushButton:focus {
    color: @accent;
    border: 2px solid @accent;
}

#toolbox QPushButton:disabled {
    color: @disabled;
    border: 2px solid @disabled;
}

QPushButton#settings {
    margin-bottom: 0px;
}

QToolTip {
    color: @primary;
    background-color: @secondary;
    border: 2px solid @primary;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
}

QTabWidget::tab-bar {
    alignment: left;
}

QTabBar::tab {
    background-color: @secondary;
    border: 1px solid @primary;
    padding: 5px 10px;
}

QTabBar::tab:selected {
    background-color: @primary;
    color: @secondary;
}

QTabBar::tab:focus {
    background: @accent;
}

QTabBar::tab:hover {
    background-color: #777;
}

QTabWidget::pane {
    border: 1px solid @primary;
    background-color: transparent;
}

QGroupBox {
    background-color: transparent;
    border: none;
    margin-top: 1ex;
    padding: 5px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 30px;
}

QSlider {
    background: none;
}

QSlider::groove:horizontal {
    border: 2px solid @primary;
    height: 4px;
    border-radius: 2px;
    background: transparent; /* No background for the groove itself */
    margin: 6px 0;
}
QSlider::groove:horizontal:focus {
    border: 2px solid @accent;
    height: 4px;
    border-radius: 2px;
    background: none; /* No background for the groove itself */
    margin: 6px 0;
}
/* Left of the handle: White fill inside the groove only */
QSlider::sub-page:horizontal {
    background: @primary;
    /* border-radius: 2px; */
    height: 6px; /* Same height as the groove */
    margin: 6px 0; /* Align with the groove */
}
/* Left of the handle: White fill inside the groove only */
QSlider::sub-page:horizontal:focus {
    background: @accent;
    /* border-radius: 2px; */
    height: 6px; /* Same height as the groove */
    margin: 6px 0; /* Align with the groove */
}
/* Right of the handle: Transparent, matching the groove size */
QSlider::add-page:horizontal {
    background: none;
    /* border-radius: 2px; */
    height: 6px; /* Same height as the groove */
    margin: 6px 0; /* Align with the groove */
}

/* Right of the handle: Transparent, matching the groove size */
QSlider::add-page:horizontal {
    background: none;
    /* border-radius: 2px; */
    height: 6px; /* Same height as the groove */
    margin: 6px 0; /* Align with the groove */
}
QSlider::handle:horizontal {
    background: @primary;
    border: 3px solid @secondary;
    width: 5px;
    margin: -6px 0;
    border-radius: 0px;
}

QRangeSlider::sub-page:horizontal {
    background: @secondary;
    height: 6px;
    margin: 6px 0;
}

#toggleSlider {
    max-width: 25px;
}

#notificationPane {
    border: 1px solid @accent;
}

#notificationPane QPushButton {
    border: none;
    background: transparent;
    margin: 0;
}

QGraphicsView {
    border: 2px solid transparent;
    margin: 8px; /* should have been 10, but this is compensating for te border */
    min-width: 240px;
    background: url("@res/background.svg") no-repeat center center;
}
QGraphicsView focus {
    border: 1px solid @accent;
}

QScrollArea {
    border: transparent;
    padding: 0;
    background: transparent;
}

QScrollBar:vertical {
    border: transparent;
    border-radius: 3px;
    background: #202020;
    width: 8px;
}

QScrollBar::handle {
    background: #313532;
    border-radius: 3px;
    min-height: 30px;
}

QScrollBar::add-line:vertical {
    height: 0px;
}

QScrollBar::sub-line:vertical {
    height: 0px;
}

#viewer-controls QPushButton {
    font-family: "Material Symbols Rounded Filled";
    font-size: 20px;
    width: 22px;
    height: 22px;
    color: @primary;
    background-color: @secondary;
    border: 2px solid @primary;
    margin-left: 5px;
}

#viewer-controls QPushButton:hover {
    color: @secondary;
    background-color: @primary;
}

#processing-indicator QLabel {
    color: @accent;
    padding: 15px;
    padding-left: 25px;
    border: 2px solid @accent;
}
#shortcut {
    border: 2px solid @primary;
    padding: 5px;
}

#reset {
    font-family: "Material Symbols Rounded Filled";
    color: @primary;
    background-color: @secondary;
    margin: 0px;
    padding: 0px;
    border: 0px solid transparent;
    margin-bottom: -1px;
}
#reset:hover {
    font-family: "Material Symbols Rounded Filled";
    color: @accent;
    background-color: @secondary;
}

#about {
    padding: 10px;
}

p {
    line-height: 10pt;
}
